	.fontStylePanelTitle {
		font-size: 14px;
		font-weight: bold;
		color: black;	
		}
	.imageStyleButton {
		width: 19px;
		height: 19px;
		}
	.controllerStyle {
		text-align: right;
		}
	.panelStyle {
		border: 1px solid black;
		}